h1{
    color: #e8de00;
}  
@font-face {
    font-family: alike;
    src: url(Sabo-Filled.otf);
}
@font-face{
    font-family: pixel;
    src: url(Sabo-Filled.otf)
}
h2{
    font-family: alike;


}
header{

    font-family:alike;
    font-style: italic;  
    text-align: center;  
}
caption{
    color: #e8de00;
}
nav{
    display: block;
}

body {
    font-stretch: extra-expanded;
    font-family: pixel;
    background-color: #121111;
    color: #e5f0ec;   
    text-align: center;
    font-size: small;
}